@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif !important;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
}
.justify-end{
    justify-content: end;
}
.w-100{
    width: 100% !important;
}